@import "./../../../vars";

body {
  overflow-y: scroll !important;
}

.empty::after {
  content: "no posts found!";
  display: block;
  color: #666;
  position: absolute;
  text-align: center;
  margin-top: 50px;
  width: 100%;
  font-size: 20px;
  height: 30vh;
  box-shadow: 0px 0px 10px 0px #ddd;
  line-height: 30vh;
}

span.tag-selected {
  a {
    color: $primaryColor;
  }
}

.tag:focus {
  border: 1px solid $bgFaded;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35) !important;
}
