<nav>
    <button class="menu btn" (click)="menuOpen = !menuOpen" [ngClass]="{open: menuOpen}">
        <span class="line"></span>
    </button>
    <ul>
        <li class="item" routerLinkActive="invisible" [routerLinkActiveOptions]="{ exact: true }">
            <a [routerLink]="['/']">Home</a>
        </li>
        <li class="col filler"></li>
        <li class="item">
            <a [routerLink]="['/blogs']" routerLinkActive="router-link-active">Blog</a>
        </li>
        <li class="item"><a href="#">Résumé</a></li>
    </ul>
</nav>