@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import './vars';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap');

body, html {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    color: $primaryColor;
    font-family: $font-primary;

    iframe, img {
        max-width: 100%;
    }
}


.fb-comments iframe {
    width: 100%!important;
}