<div class="profile-card" [@pop]>
    <div class="profile-img-container" >
        <img [src]="img" alt="profile-image">
    </div>
    <div class="title-section">
        <h2 class="name">{{ personalData.name }}</h2>
        <h3>{{ personalData.phone }}</h3>
        <h3>{{ personalData.email }}</h3>
    </div>
    <div class="social-media">
        <div class="link" *ngFor="let item of links">
            <a [href]="item.src">
                <img width="50px" [src]="item.icon" [alt]="item.name">
            </a>
        </div>
    </div>
</div>