img {
    object-fit: cover;
    max-height: 150pt;
}

.expanded {
    img {
        max-height: 200pt;
    }

    span.blog-title {
        font-size: 3vw;
        bottom: 20%;
    }

    @media screen and (max-width: 1000px) {
        span.blog-title {
            font-size: 5vw;
        }
    }

    markdown {
        font-family: 'Open Sans';
        text-align: justify;
    }
}
