<a class="card text-dark rounded-0 border-0 blog" [ngClass]="{'expanded': expanded, 'shadow mb-3': !expanded}" >
    <img class="card-img-top rounded-0 " [src]="blog.image" alt="Card image cap">
    <div class="card-img-overlay text-light align-items-end position-relative" *ngIf="expanded">
        <span class="blog-title" [ngClass]="{'font-bold display-4 bg-dark p-2 position-absolute': expanded}">{{ blog.description }}</span>
    </div>
    <div class="card-body">
        <h4 class="card-title" [ngClass]="{'text-truncate': expanded}" *ngIf="!expanded">{{ blog.description }}</h4>
        <h6 class="text-secondary m-0" *ngIf="!expanded"><b>{{ blog.date }}&nbsp;&bull;&nbsp;</b>{{ blog.author }}</h6>
        <div class="card-content container" *ngIf="expanded">
            <h5 class="pb-4 text-secondary text-right blog-meta"><b>{{ blog.date }}&nbsp;&bull;&nbsp;</b>{{ blog.author }}</h5>
            <markdown [src]="id | mdSource"></markdown>
            <div class="fb-comments" [attr.data-href]="getFacebookCommentsLink()" data-numposts="5" data-width="100%"></div>
        </div>
    </div>
</a>