
img {
    object-fit: cover;
    max-height: 150pt;
    height: 150pt;
    transition: opacity 0.3s ease, height 0.3s ease;
    opacity: 1;
    width: 100% !important;

    @media screen and (max-width: 1000px) {
        height: 100pt;
    }
}

img.opacity-0 {
    opacity: 0!important;
}

@media screen and (max-width: 1000px) {
    h6.author {
        font-size: 0.8rem;
    }    
}

.expanded {

    transition: all 0.3s ease;

    img {
        height: 240pt;
        max-height: 240pt;
        width: 100%!important;
        @media screen and (max-width: 1000px) {
            min-height: 100pt!important;
            height: auto!important;
        }
    }

    span.blog-title {
        font-size: 3vw;
        bottom: 20%;
    }

    @media screen and (max-width: 1000px) {
        span.blog-title {
            font-size: 5vw;
            top: -20pt;
            width: 95%;
            bottom: unset;
        }
    }

    .blog-meta {
        font-size: 1rem;
        b {
            letter-spacing: 1px; 
        }
    }

    markdown {
        font-family: 'Open Sans';
        text-align: justify;
    }
}